.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 255, 38);
}

.img-thumbnail {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}
